<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.first.tile">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="完全静音"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <service android:name=".QuickSettingService"
            android:label="完全静音"
            android:icon="@drawable/ic_volume_up"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE"/>
            </intent-filter>
        </service>

        <!--默认界面-->
        <activity
            android:name=".MainActivity">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>

        <!--拨号盘启动应用-->
        <receiver
            android:name=".SecretCodeReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.provider.Telephony.SECRET_CODE" />
                <data android:scheme="android_secret_code" android:host="5858"  />
            </intent-filter>
        </receiver>


        <!-- 默认启动activity，我们在程序中就是禁用了此activity，隐藏了桌面图标，但这里为了方便，所以启用了 -->
        <activity-alias android:enabled="true" android:icon="@mipmap/ic_launcher"  android:name=".MainActivityAlias" android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>
    </application>
</manifest>
